body{
    background-color: tan;
    text-align: center;
}
.title{
    text-align: center;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 50px;
    font-weight:1000;
}
.opener{
    text-align: center;
    font-family: 'Shippori Mincho B1', serif;
    background-color: rgb(136, 207, 166);
    color: white;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    padding: 0%;
}

button{
    font-size: 40px;
    background-color: tomato;
    padding: 0px;
    height: 70px;
    width: 70px;
    font-family:cursive;
    border-radius: 5px;
    box-shadow: 0 9px #999;

}

button:hover {
    background-color: bisque;
}

button:active {
    background-color: rgb(221, 184, 103)55, 255);
    box-shadow: chocolate;
    transform: translateX(2px);
}

input{

    font-size: 20px;
    padding: 1.5%;
    width: 249px;
    background-color: burlywood;
    vertical-align:sub;
}

.clear{
    width: 249px;
}

#reset {
    text-align: center;
}